Repository ropensci/drake, pull requests merged in 2019-01, with the labels that each got.

#641 Cleaner encoding and case insensitivity
  NAMESPACE
  NEWS.md
  R/build.R
  R/build_times.R
  R/cache_ui.R
  R/check.R
  R/clean.R
  R/code_analysis.R
  R/config.R
  R/console.R
  R/dependencies.R
  R/drake_graph_info_utils.R
  R/encoding.R
  R/hash_table.R
  R/knitr.R
  R/memory.R
  R/meta.R
  R/outdated.R
  R/package.R
  R/store.R
  R/triggers.R
  R/utils.R
  R/whole_static_analysis.R
  tests/testthat/test-cache.R
  tests/testthat/test-code-analysis.R
  tests/testthat/test-command-changes.R
  tests/testthat/test-console.R
  tests/testthat/test-dependencies.R
  tests/testthat/test-deprecate.R
  tests/testthat/test-edge-cases.R
  tests/testthat/test-examples.R
  tests/testthat/test-full-build.R
  tests/testthat/test-knitr.R
  tests/testthat/test-namespaced.R
  tests/testthat/test-other-features.R
  tests/testthat/test-plans.R
  tests/testthat/test-time.R
  tests/testthat/test-triggers.R
  tests/testthat/test-utils.R
Labels: topic: performance :checkered_flag:, topic: reproducibility :recycle:

#563 A base R replacement to formatR::tidy_source()
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/commands.R
  R/config.R
  R/package.R
  R/test.R
  R/utils.R
  codemeta.json
  tests/testthat/test-dependencies.R
  tests/testthat/test-other-features.R
  tests/testthat/test-plans.R
Labels: topic: dependencies :package:

#645 Make make() invisibly return NULL
  NEWS.md
  R/deprecate.R
  R/make.R
  R/test.R
  _pkgdown.yml
  man/drake_quotes.Rd
  man/drake_strings.Rd
  man/drake_unquote.Rd
  man/make.Rd
  man/make_imports.Rd
  man/make_targets.Rd
  man/make_with_config.Rd
  tests/testthat/test-Makefile.R
  tests/testthat/test-always-skipped.R
  tests/testthat/test-cache.R
  tests/testthat/test-code-analysis.R
  tests/testthat/test-command-changes.R
  tests/testthat/test-console.R
  tests/testthat/test-custom-caches.R
  tests/testthat/test-dependencies.R
  tests/testthat/test-deprecate.R
  tests/testthat/test-edge-cases.R
  tests/testthat/test-examples.R
  tests/testthat/test-future.R
  tests/testthat/test-graph.R
  tests/testthat/test-import-object.R
  tests/testthat/test-knitr.R
  tests/testthat/test-lazy-load.R
  tests/testthat/test-memory-cache.R
  tests/testthat/test-namespaced.R
  tests/testthat/test-other-features.R
  tests/testthat/test-parallel.R
  tests/testthat/test-plans.R
  tests/testthat/test-random.R
  tests/testthat/test-time.R
  tests/testthat/test-triggers.R
  tests/testthat/test-wildcards.R
Labels: topic: API :door:

#646 Option to print execution and total build times.
  NEWS.md
  R/color.R
  R/config.R
  R/console.R
  R/store.R
  man/build_drake_graph.Rd
  man/build_times.Rd
  man/built.Rd
  man/cached.Rd
  man/check_plan.Rd
  man/clean.Rd
  man/configure_cache.Rd
  man/default_Makefile_args.Rd
  man/diagnose.Rd
  man/drake_cache_log.Rd
  man/drake_cache_log_file.Rd
  man/drake_config.Rd
  man/drake_gc.Rd
  man/drake_get_session_info.Rd
  man/drake_session.Rd
  man/eager_load_target.Rd
  man/failed.Rd
  man/get_cache.Rd
  man/imported.Rd
  man/in_progress.Rd
  man/long_hash.Rd
  man/make.Rd
  man/new_cache.Rd
  man/progress.Rd
  man/read_drake_config.Rd
  man/read_drake_graph.Rd
  man/read_drake_plan.Rd
  man/read_drake_seed.Rd
  man/readd.Rd
  man/recover_cache.Rd
  man/rescue_cache.Rd
  man/short_hash.Rd
  man/this_cache.Rd
  tests/testthat/test-console.R
Labels: topic: API :door:, topic: style :barber:

#663 Speed up and organize graph manipulation operations
  NAMESPACE
  R/api-outdated.R
  R/api-package.R
  R/api-predict.R
  R/exec-memory.R
  R/preprocess-graph.R
  R/utils-deprecate.R
  R/utils-igraph.R
  R/vis-graphinfo.R
  man/prune_drake_graph.Rd
  tests/testthat/test-deprecate.R
  tests/testthat/test-graph.R
Labels: topic: performance :checkered_flag:

#659 Deprecate various functions
  NEWS.md
  R/api-cache.R
  R/api-find.R
  R/api-progress.R
  R/api-read.R
  R/exec-session.R
  R/utils-deprecate.R
  codemeta.json
  man/built.Rd
  man/cached.Rd
  man/drake_get_session_info.Rd
  man/failed.Rd
  man/find_project.Rd
  man/imported.Rd
  man/in_progress.Rd
  man/progress.Rd
  man/readd.Rd
  tests/testthat/test-cache.R
  tests/testthat/test-deprecate.R
  tests/testthat/test-edge-cases.R
  tests/testthat/test-memory-cache.R
Labels: DO NOT MERGE :warning:, topic: documentation :books:, topic: style :barber:

#671 Deprecate (hide) internal functions
  NEWS.md
  R/api-build.R
  R/api-cache.R
  R/api-clean.R
  R/api-debug.R
  R/api-outdated.R
  R/api-progress.R
  R/api-wildcards.R
  R/backend-clustermq.R
  R/backend-future.R
  R/backend-loop.R
  R/exec-imports.R
  R/exec-meta.R
  R/preprocess-config.R
  R/utils-cache.R
  R/utils-check.R
  R/utils-deprecate.R
  R/utils-graphinfo.R
  R/utils-tips.R
  R/vis-color.R
  codemeta.json
  man/analysis_wildcard.Rd
  man/cache_namespaces.Rd
  man/cache_path.Rd
  man/check_plan.Rd
  man/cleaned_namespaces.Rd
  man/dataset_wildcard.Rd
  man/drake_config.Rd
  man/drake_meta.Rd
  man/drake_palette.Rd
  man/drake_tip.Rd
  man/in_progress.Rd
  man/make.Rd
  man/prune_drake_graph.Rd
  man/recover_cache.Rd
  man/target_namespaces.Rd
  tests/testthat/test-cache.R
  tests/testthat/test-custom-caches.R
  tests/testthat/test-dependencies.R
  tests/testthat/test-deprecate.R
  tests/testthat/test-edge-cases.R
  tests/testthat/test-graph.R
  tests/testthat/test-import-file.R
  tests/testthat/test-memory-cache.R
  tests/testthat/test-namespaced.R
  tests/testthat/test-other-features.R
  tests/testthat/test-plans.R
Labels: topic: API :door:

#674 A much friendlier API for creating large plans
  DESCRIPTION
  NEWS.md
  R/api-plan.R
  R/api-transform.R
  R/utils-utils.R
  inst/WORDLIST
  tests/testthat/test-deprecate.R
  tests/testthat/test-examples.R
  tests/testthat/test-plan-transformations.R
Labels: topic: API :door:, type: new feature :seedling:

#688 Replace `group` with tags
  R/api-dsl.R
  R/api-plan.R
  R/utils-utils.R
  man/drake_plan.Rd
  tests/testthat/test-dsl.R
Labels: topic: API :door:, type: new feature :seedling:

#692 691
  R/api-dsl.R
  R/api-plan.R
  R/utils-utils.R
  tests/testthat/test-dsl.R
Labels: BUG :bug:, topic: API :door:
